* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 80%;
}

@-webkit-keyframes UpDown {
  0% {
    bottom: 0;
  }
  50% {
    bottom: .2em;
  }
  100% {
    bottom: 0;
  }
}

@keyframes UpDown {
  0% {
    bottom: 0;
  }
  50% {
    bottom: .2em;
  }
  100% {
    bottom: 0;
  }
}

nav .drop-down {
  list-style: none;
  overflow: hidden;
  height: 172px;
  background-color: #34495e;
  width: 200px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  -webkit-transition: height 0.3s ease;
  transition: height 0.3s ease;
  font-family: "roboto";
  position: absolute;
  right: 0;
  top: 20px;
}

nav .drop-down.closed {
  height: 43px;
}

nav .drop-down li {
  border-bottom: 5px solid #2c3e50;
}

nav .drop-down li a {
  display: block;
  color: #ecf0f1;
  text-decoration: none;
  padding: 10px;
}

nav .drop-down li:first-child a:after {
  content: "\25BC";
  float: right;
  margin-left: -30px;
  margin-right: 5px;
}

.displayNone {
  display: none;
}

.displayBlock {
  display: block;
}

.top {
  background: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.top__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top__inner img {
  height: 75px;
}

.header {
  background-image: url(../img/header.png);
  background-size: cover;
  height: 100vh;
}

.header__inner {
  padding-top: 150px;
}

.header__inner-top {
  font-family: "roboto";
  color: white;
  text-align: center;
}

.header__inner-top-bigtext {
  font-weight: 700;
  font-size: calc(12px + 4.6vw);
  margin-bottom: 50px;
}

.header__inner-top-smalltext {
  line-height: 30px;
  font-size: calc(10px + 0.9vw);
  text-align: center;
  font-weight: 300;
}

.header__inner-bottom {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__inner-bottom-btn {
  background: transparent;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  font-family: "roboto";
  font-size: calc(12px + 0.5vw);
  cursor: pointer;
  border: 2px solid white;
  outline: none;
}

.header__inner-bottom-arrow {
  -webkit-animation: UpDown 1s linear infinite;
          animation: UpDown 1s linear infinite;
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 4em;
  cursor: pointer;
  color: #715c3f;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header__inner-bottom-arrow img {
  height: 40px;
}

.info {
  background-image: url(../img/infoback.png);
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 70px;
  font-family: "roboto";
}

.info__inner-blocks {
  position: relative;
  padding-bottom: 50px;
}

.info__inner-blocks-block {
  background-color: #f5f5f5;
  margin-bottom: 70px;
  padding: 50px;
  line-height: 30px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  cursor: pointer;
}

.info__inner-blocks-block-click {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info__inner-blocks-block-click img {
  height: 30px;
}

.info__inner-blocks-block-top {
  padding-bottom: 30px;
  font-size: calc(10px + 0.7vw);
  font-weight: 700;
}

.info__inner-blocks-block-bottom {
  font-size: calc(12px + 0.4vw);
  font-weight: 300;
}

.info__inner-blocks-block-click {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info__inner-blocks::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: black;
  position: absolute;
}

.info__inner-benefits {
  padding-bottom: 50px;
}

.info__inner-benefits-text-top {
  padding-bottom: 30px;
  text-align: center;
  font-size: calc(10px + 1.8vw);
  font-weight: 700;
}

.info__inner-benefits-text-bottom {
  padding-bottom: 30px;
  text-align: center;
  font-size: calc(10px + 1vw);
  font-weight: 300;
}

.info__inner-benefits-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info__inner-benefits-blocks img {
  height: 100px;
  width: 100px;
  margin-bottom: 20px;
}

.info__inner-benefits-blocks-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  background: transparent;
}

.info__inner-benefits-blocks-block-big {
  padding-bottom: 30px;
  text-align: center;
  font-size: calc(10px + 1.2vw);
  font-weight: 700;
}

.info__inner-benefits-blocks-block-small {
  padding-bottom: 30px;
  text-align: center;
  font-size: calc(10px + 0.5vw);
  font-weight: 300;
}

.info__inner-reviews {
  padding-top: 50px;
  font-family: "roboto";
  padding-bottom: 50px;
}

.info__inner-reviews-top {
  text-align: center;
  font-size: calc(10px + 1.8vw);
  font-weight: 700;
  margin-bottom: 50px;
}

.info__inner-reviews-bottom-slider-block-package {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.info__inner-reviews-bottom-slider-block-package img {
  border-radius: 100px;
  margin-bottom: 50px;
}

.info__inner-reviews-bottom-slider-block-package p {
  max-width: 600px;
}

.info__inner-reviews-bottom-slider-block-package-review {
  font-size: calc(10px + 1vw);
  font-weight: 300;
  margin-bottom: 50px;
}

.info__inner-reviews-bottom-slider-block-package-name-big {
  font-size: calc(10px + 1.4vw);
  font-weight: 400;
}

.info__inner-reviews-bottom-slider-block-package-name-small {
  font-size: calc(10px + 1vw);
  font-weight: 300;
}

.info__break {
  background-color: #f5f5f5;
  padding-top: 70px;
  padding-bottom: 50px;
  font-family: "roboto";
}

.info__break-quote {
  padding-left: 100px;
  padding-right: 100px;
}

.info__break-quote-text {
  font-size: calc(10px + 1.2vw);
  font-weight: 700;
  position: relative;
  padding-bottom: 50px;
}

.info__break-quote-text::before {
  top: -20px;
  content: "";
  width: 100%;
  height: 4px;
  background-color: black;
  position: absolute;
}

.info__break-quote-creator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.info__break-quote-creator::before {
  top: -30px;
  content: "";
  width: 100%;
  height: 4px;
  background-color: black;
  position: absolute;
}

.info__break-quote-creator img {
  border-radius: 500px;
  height: 100px;
  width: 100px;
}

.info__break-quote-creator-text {
  padding-left: 30px;
}

.info__break-quote-creator-text-big {
  font-size: calc(10px + 1.2vw);
  font-weight: 700;
  margin-bottom: 10px;
}

.info__break-quote-creator-text-small {
  font-size: calc(10px + 0.5vw);
  font-weight: 300;
}

.options {
  background-color: #f5f5f5;
}

.options__inner {
  padding-top: 50px;
  font-family: "roboto";
  padding-bottom: 50px;
}

.options__inner-top {
  text-align: center;
  font-size: calc(10px + 1.8vw);
  font-weight: 700;
  margin-bottom: 50px;
}

.options__inner-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.options__inner-bottom-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 50px;
  padding-right: 50px;
  width: 500px;
  border-radius: 4px;
  margin-bottom: 50px;
}

.options__inner-bottom-block-price {
  font-size: calc(10px + 1.2vw);
  font-weight: 700;
  margin-bottom: 20px;
}

.options__inner-bottom-block-description {
  font-size: calc(10px + 0.5vw);
  font-weight: 300;
  margin-bottom: 20px;
  text-align: center;
}

.options__inner-bottom-block-btn {
  background: #13ce66;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  font-size: calc(10px + 0.4vw);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 6px;
}

.footer {
  background: #36454f;
  background-size: cover;
}

.footer__inner {
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: "roboto";
  color: white;
}

.footer__inner-title {
  font-size: calc(12px + 2.2vw);
  text-align: center;
  font-weight: 800;
  margin-bottom: 50px;
}

.footer__inner-description {
  line-height: 30px;
  font-size: calc(10px + 0.7vw);
  font-weight: 300;
  text-align: center;
  margin-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
}

.footer__inner-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__inner-contact-link {
  margin-right: 50px;
}

.footer__inner-contact-link:last-child {
  margin-right: 0px;
}

.footer__inner-contact-link img {
  height: 50px;
  width: 50px;
}

.footer__bottom {
  background: #20292f;
}

.footer__bottom p {
  color: white;
  font-family: "roboto";
  font-weight: 100;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 95%;
  }
  .header {
    height: 95vh;
  }
  .header__inner {
    padding-top: 150px;
  }
  .header__inner-top-bigtext {
    text-align: center;
  }
  .header__inner-bottom-arrow {
    display: none;
  }
  .header__inner-bottom-btn {
    width: 100%;
  }
  .info {
    background-image: none;
  }
  .info__inner-blocks-block {
    padding: 20px;
    line-height: 17px;
  }
  .info__inner-benefits-blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .info__break {
    display: none;
  }
  .options__inner-bottom-block {
    padding: 0px;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .options__inner-bottom-block-description {
    padding-left: 50px;
    padding-right: 50px;
  }
  .options__inner-bottom-block-btn {
    width: 95%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .footer__inner-contact-link {
    margin-right: 10px;
  }
}
/*# sourceMappingURL=styles.css.map */